<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница новостей</title>
</head>
<body>
    <h1>Новости</h1>
    {% if request.user.is_authenticated %}
        <h3>Добро пожаловать на сайт {{ request.user.username }}</h3>
        <a href="{% url 'logout' %}">Выйти</a>
    {% else %}
        <h3>ВЫ не зарегестрированный на нашем сайте.</h3>
        <a href="{% url 'login' %}">Войти</a>
    {%endif%}
    {% if all_news %}
    
    <ul>
        {% for news in all_news %}

            <li>
                <a href="/news/{{ news.id }}"><h2>{{ news.title }}</h2></a>
                <a href="{{ news.id }}/edit">Изменить</a>
            </li>

        {% endfor %}
    </ul>
    {% else %}
    <p>Новостей нет</p>
    {% endif %}

</body>
</html>