
{% block title %}
  Orders list
{% endblock %}

{% block body %}
  <h1>Orders:</h1>
  {% if orders %}
    <div>
      {% for order in orders %}
        <div>
            <a href="{%  url 'order_detail' pk=order.pk %}">Detail>>>>></a>
          <p>Order by {% firstof order.buyer.user.first_name order.buyer.user.username %}</p>
          <p>Promocode: <code>{{ order.promo_code }}</code></p>
          <p>Delivery address: {{ order.address }}</p>
          <div>
            Product in order:
            <ul>
              {% for product in order.products.all %}
                <li>{{ product.product_name }} for ${{ product.price }}</li>
              {% endfor %}

            </ul>
          </div>

        </div>
      {% endfor %}

    </div>
  {% else %}
    <h3>No orders yet</h3>
  {% endif %}
{% endblock %}
