{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ product.product_name }}</title>
</head>
<body>
    <h1>{% translate 'Подробнее о товаре' %} {{ product.product_name }}</h1>
    <p>{% translate 'Price' %}  {{ product.price }}$</p>
    {% if product.options %}
        <p>{% translate 'Options' %}: {{ product.options }}</p>
    {% else %}
        <p>{% translate 'Options: отсутствует' %}</p>
    {% endif %}
    {% if perms.app_users.change_product and object.created_by == user.profile or user.is_superuser %}

        <h2><a href="{% url 'product-update' pk=object.pk  %}"
        >{% translate 'Изменить товар' %}</a></h2>
    {% endif %}
</body>
</html>